<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">Hello this is where I put the link to my Dash Dashboard Demo</h1>
  <h4>Tableau Dashboard COVID 19 <a href="https://public.tableau.com/app/profile/fawwaz.mayda/viz/COVIDSimpleDashboard/Dashboard" target="_blank">(link)</a></h4>
  <p>This dashboard was made using Tableau to visualize COVID 19 cases by date and by province in Indonesia</p>
  <h4>Dash Dashboard COVID 19 <a href="https://dash-covid-dashboard-demo.herokuapp.com" target="_blank">(link)</a></h4>
  <p>This dashboard visualize COVID 19 new cases by each country up to the latest date.</p>
</body>

</html>